<form class="mt-3 col-md-8 offset-md-2" (ngSubmit)="onSave()" [formGroup]="employeeForm">
  <div class="row mt-3">
    <div class="form-group   col-md-6">
      <input 
        type="text" 
        class="form-control" 
        placeholder="Name"
        formControlName="name"
        required="required"
        [class]="isValidField('name')"
        >
        <div class="invalid-feedback">
          <span *ngIf="employeeForm.get('name')?.errors">
            this field required
          </span>
        </div>
    </div>
    <div class="form-group col-md-6">
      <input 
        type="text" 
        class="form-control" 
        placeholder="Last Name"
        formControlName="lastName"
        [class]="isValidField('lastName')"
        >
        <div class="invalid-feedback">
          <span *ngIf="employeeForm.get('lastName')?.errors">
            this field required
          </span>
        </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="form-group col-md-6">
      <input 
        type="text" 
        class="form-control" 
        placeholder="E-Mail"
        formControlName="email"
        >
    </div>
    <div class="form-group col-md-6">
      <input 
        type="text" 
        class="form-control" 
        placeholder="Start Date 00/00/0000"
        formControlName="startDate"
        [class]="isValidField('startDate')"
        >
        <div class="invalid-feedback">
          <span *ngIf="employeeForm.get('startDate')?.errors">
            this field required
          </span>
        </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="btn-group" role="group">
      <button type="submit" class="btn btn-outline-warning m-2 col-md-6" >Save</button>
      <button type="submit" class="btn btn-outline-danger m-2 col-md-6" (click)="cancelEdition()">Cancelar</button>
    </div>
  </div>
</form>