<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">E-Mail</th>
        <th scope="col">Start Date</th>
        <th scope="col" class="d-none d-sm-block">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-info" *ngFor="let item of fakeData">
        <th scope="row">{{ item.name }}</th>
        <th scope="row">{{ item.lastName }}</th>
        <th scope="row">{{ item.email }}</th>
        <!-- <th scope="row">{{ item.startDate }}</th> -->
        <td class="btn-group d-none d-sm-block" role="group">
          <!-- Ação (click) esta passando o valor foreach item quando acionado -->
          <button type="button" class="btn btn-outline-warning m-1" (click)="onGoToEdit(item)" >Edit</button>
          <button type="button" class="btn btn-outline-warning m-1" (click)="onGoToDetails(item)">Details</button>
          <button type="button" class="btn btn-outline-danger m-1"(click)="onGoToDelete(item)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>